*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section
{
    display:inline-block;
    margin-left: 30px;
    margin-top: 40px;
    color: blueviolet;
    
}
ul
{
list-style-type: none;
}
.animal 
{
    max-width: 600px;
    margin-top: 60px;
    margin-left: 40px;
    display: block;
    border-radius: 300px;
}
.animal {
    width: 300px;
    animation: animal 2s linear infinite;
}

@keyframes animal {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.animal:hover {
  animation: animal 1s linear infinite;
}
.text
{
   font-size: 15px;
   color: blue;
   width: 600px;
   margin-left: 500px;
}
.animal2 {
    width: 300px;
    animation: animal2 2s linear infinite;
}
@keyframes animal2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
.animal2
{
    border-radius: 100px;
}
p
{
    font-size: 15px;
    color: darkmagenta;
    width: 600px;
    margin-left: 500px;
    margin-bottom: 30px;
}